## Loan Data Prep

In [1]:
# Import dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from datetime import date
from ipykernel import kernelapp as app

## Read in Loan Data

In [2]:
# Read in 2017 csv files for review
df=pd.read_csv("static/data/LoanStats_2017Q1.csv", encoding="ISO-8859-1", skiprows=1, skipfooter=2)
df2=pd.read_csv("static/data/LoanStats_2017Q2.csv", encoding="ISO-8859-1",skiprows=1, skipfooter=2)
df3=pd.read_csv("static/data/LoanStats_2017Q3.csv", encoding="ISO-8859-1",skiprows=1, skipfooter=2)
df4=pd.read_csv("static/data/LoanStats_2017Q4.csv", encoding="ISO-8859-1",skiprows=1, skipfooter=2)

C:\Users\15073\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  from ipykernel import kernelapp as app
C:\Users\15073\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  app.launch_new_instance()
C:\Users\15073\Anaconda3\lib\site-packages\ipykernel\__main__.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
C:\Users\15073\Anaconda3\lib\site-packages\ipykernel\__main__.py:5: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.

In [3]:
df.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
       'disbursement_method', 'debt_settlement_flag',
       'debt_settlement_flag_date', 'settlement_status', 'settlement_date',
       'settlement_amount', 'settlement_percentage', 'settlement_term'],
      dtype='object', length=145)

In [4]:
df['purpose'].unique()

array(['debt_consolidation', 'home_improvement', 'car', 'major_purchase',
       'credit_card', 'vacation', 'medical', 'other', 'house', 'moving',
       'small_business', 'renewable_energy'], dtype=object)

In [5]:
# Read in 2018 csv files for review
df5=pd.read_csv("static/data/LoanStats_2018Q1.csv", encoding="ISO-8859-1", skiprows=1, skipfooter=2)
df6=pd.read_csv("static/data/LoanStats_2018Q2.csv", encoding="ISO-8859-1",skiprows=1, skipfooter=2)
df7=pd.read_csv("static/data/LoanStats_2018Q3.csv", encoding="ISO-8859-1",skiprows=1, skipfooter=2)

C:\Users\15073\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  from ipykernel import kernelapp as app
C:\Users\15073\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  app.launch_new_instance()
C:\Users\15073\Anaconda3\lib\site-packages\ipykernel\__main__.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.

In [6]:
df5.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
       'disbursement_method', 'debt_settlement_flag',
       'debt_settlement_flag_date', 'settlement_status', 'settlement_date',
       'settlement_amount', 'settlement_percentage', 'settlement_term'],
      dtype='object', length=145)

In [7]:
df5['purpose'].unique()

array(['credit_card', 'debt_consolidation', 'house', 'home_improvement',
       'major_purchase', 'medical', 'other', 'moving', 'car',
       'small_business', 'vacation', 'renewable_energy', 'wedding'],
      dtype=object)

## Merge datasets

In [8]:
# Merge all 2017 quarters
merge = [df,df2,df3,df4]
loan_df = pd.concat(merge, sort=True)
loan_df.head()

,acc_now_delinq,acc_open_past_24mths,addr_state,all_util,annual_inc,annual_inc_joint,application_type,avg_cur_bal,bc_open_to_buy,bc_util,...,total_pymnt,total_pymnt_inv,total_rec_int,total_rec_late_fee,total_rec_prncp,total_rev_hi_lim,url,verification_status,verification_status_joint,zip_code
0,0,8,SD,56.0,130000.0,NaN,Individual,2766.0,3350.0,58.1,...,18001.021171,18001.02,2001.02,0.0,16000.00,33300,NaN,Not Verified,NaN,577xx
1,0,4,MI,61.0,55000.0,NaN,Individual,17223.0,7934.0,67.3,...,8201.370000,8201.37,1770.53,0.0,6430.84,45200,NaN,Not Verified,NaN,480xx
2,0,15,CA,65.0,100000.0,NaN,Individual,42743.0,22577.0,53.0,...,5629.200000,5629.20,974.75,0.0,4654.45,48800,NaN,Verified,NaN,917xx
3,0,12,NY,57.0,95000.0,NaN,Individual,2156.0,9964.0,49.4,...,18410.590000,18410.59,5287.29,0.0,13123.30,29700,NaN,Verified,NaN,112xx
4,0,1,MT,43.0,67000.0,NaN,Individual,28493.0,5327.0,62.0,...,947.890000,947.89,101.86,0.0,846.03,19800,NaN,Not Verified,NaN,593xx

In [9]:
# Merge all 2018 quarters
merge2 = [df5,df6,df7]
loan2_df = pd.concat(merge, sort=True)
loan2_df.head()

,acc_now_delinq,acc_open_past_24mths,addr_state,all_util,annual_inc,annual_inc_joint,application_type,avg_cur_bal,bc_open_to_buy,bc_util,...,total_pymnt,total_pymnt_inv,total_rec_int,total_rec_late_fee,total_rec_prncp,total_rev_hi_lim,url,verification_status,verification_status_joint,zip_code
0,0,8,SD,56.0,130000.0,NaN,Individual,2766.0,3350.0,58.1,...,18001.021171,18001.02,2001.02,0.0,16000.00,33300,NaN,Not Verified,NaN,577xx
1,0,4,MI,61.0,55000.0,NaN,Individual,17223.0,7934.0,67.3,...,8201.370000,8201.37,1770.53,0.0,6430.84,45200,NaN,Not Verified,NaN,480xx
2,0,15,CA,65.0,100000.0,NaN,Individual,42743.0,22577.0,53.0,...,5629.200000,5629.20,974.75,0.0,4654.45,48800,NaN,Verified,NaN,917xx
3,0,12,NY,57.0,95000.0,NaN,Individual,2156.0,9964.0,49.4,...,18410.590000,18410.59,5287.29,0.0,13123.30,29700,NaN,Verified,NaN,112xx
4,0,1,MT,43.0,67000.0,NaN,Individual,28493.0,5327.0,62.0,...,947.890000,947.89,101.86,0.0,846.03,19800,NaN,Not Verified,NaN,593xx

## Retain Secured Loan Data Only

In [10]:
#keep just secured loan data
type_list = ('car','house','home_improvement')
secured_df = loan_df.loc[loan_df['purpose'].isin(type_list)]
secured_df.head()

,acc_now_delinq,acc_open_past_24mths,addr_state,all_util,annual_inc,annual_inc_joint,application_type,avg_cur_bal,bc_open_to_buy,bc_util,...,total_pymnt,total_pymnt_inv,total_rec_int,total_rec_late_fee,total_rec_prncp,total_rev_hi_lim,url,verification_status,verification_status_joint,zip_code
1,0,4,MI,61.0,55000.0,NaN,Individual,17223.0,7934.0,67.3,...,8201.370000,8201.37,1770.53,0.0,6430.84,45200,NaN,Not Verified,NaN,480xx
4,0,1,MT,43.0,67000.0,NaN,Individual,28493.0,5327.0,62.0,...,947.890000,947.89,101.86,0.0,846.03,19800,NaN,Not Verified,NaN,593xx
7,0,2,VA,70.0,114000.0,NaN,Individual,24630.0,1481.0,95.5,...,36875.078917,36875.08,1875.08,0.0,35000.00,47700,NaN,Source Verified,NaN,224xx
25,0,4,AZ,42.0,56000.0,NaN,Individual,10710.0,17592.0,20.0,...,12773.272396,12773.27,773.27,0.0,12000.00,27800,NaN,Not Verified,NaN,852xx
30,0,1,FL,51.0,65000.0,NaN,Individual,33958.0,722.0,27.8,...,9232.850000,9232.85,1487.47,0.0,7745.38,6500,NaN,Not Verified,NaN,329xx

In [11]:
type_list2 = ('car','house','home_improvement')
secured_df2 = loan2_df.loc[loan2_df['purpose'].isin(type_list)]
secured_df2.head()

,acc_now_delinq,acc_open_past_24mths,addr_state,all_util,annual_inc,annual_inc_joint,application_type,avg_cur_bal,bc_open_to_buy,bc_util,...,total_pymnt,total_pymnt_inv,total_rec_int,total_rec_late_fee,total_rec_prncp,total_rev_hi_lim,url,verification_status,verification_status_joint,zip_code
1,0,4,MI,61.0,55000.0,NaN,Individual,17223.0,7934.0,67.3,...,8201.370000,8201.37,1770.53,0.0,6430.84,45200,NaN,Not Verified,NaN,480xx
4,0,1,MT,43.0,67000.0,NaN,Individual,28493.0,5327.0,62.0,...,947.890000,947.89,101.86,0.0,846.03,19800,NaN,Not Verified,NaN,593xx
7,0,2,VA,70.0,114000.0,NaN,Individual,24630.0,1481.0,95.5,...,36875.078917,36875.08,1875.08,0.0,35000.00,47700,NaN,Source Verified,NaN,224xx
25,0,4,AZ,42.0,56000.0,NaN,Individual,10710.0,17592.0,20.0,...,12773.272396,12773.27,773.27,0.0,12000.00,27800,NaN,Not Verified,NaN,852xx
30,0,1,FL,51.0,65000.0,NaN,Individual,33958.0,722.0,27.8,...,9232.850000,9232.85,1487.47,0.0,7745.38,6500,NaN,Not Verified,NaN,329xx

## Write out clean csv files

In [12]:
## Clean csv file to be saved in GitHub repository
secured_df.to_csv("DataSets/clean_loan_data_2017.csv", index=False,header=True)

In [13]:
## Clean csv file to be saved in GitHub repository
secured_df2.to_csv("DataSets/clean_loan_data_2018.csv", index=False,header=True)